* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
.header{
    background-color:#FFF8F3 ;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

.title {
    font-weight: 800;
    size: 45px;
}

.t-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 60px 150px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;

}

.button {
    background: #FD6E0A;
    height: 65px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    border:0;
    padding: 18px 35px;
    margin-right: 30px;

}
.banp{
    color: #757575;
    width: 585px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner{
    display: flex;
    align-items: center;
    margin: 0 150px;
    justify-content: space-between;

}
.banh{
    width: 177px;
    height: 61px;
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
.ban{
    color: #181818;
    width: 500px;
    height: 116px;
    font-weight:700;
    font-size: 85px;
    margin-bottom: 20px;
}
.white-button{
    color: #FD6E0A;
    width: 160px;
    height: 64px;
    font-weight: 700;
    font-size: 20px;
    background-color:#FFF8F3;
    border-radius: 5px;
    border:1px solid #FD6E0A;
    padding: 19px 25px;
}
.head{
    
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
main{
    max-width: 1140px;
    margin:0 auto ;
}
.about{
    text-align: center;
    margin-top:130px ;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding:130px 150px ;

}
.description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-container{
    display: flex;
    justify-content:space-around;
}